@import url("https://fonts.googleapis.com/css?family=Montserrat");

.content {
  font-family: 'Montserrat';
}

.container {
  margin: 2em
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  padding: 1em
}

.exercise-types {
  font-size: 1.5em;
  display: flex; flex-direction: column;
  margin-left: 1em;
  margin-top: 1em
}

mat-radio-button {
  margin-bottom: 1em;

}

.pick-type {
  font-size: 1.25em;
  margin-left: 3em;
  display: flex;
  flex-direction: row;
}

.workout-details {
  margin-left: 5em
}

mat-form-field {
  margin-left: 8em;
}

.blue-button {
  background-color: #17394f;
  color: white;
  margin: 2em;
  font-size: 1.5em
}

.submit-plan {
  height: 7em !important;
  width: 7em !important;
  font-size: 1em !important;
  background-color: #17394f;
  white-space: pre-wrap;
  color: white;
  float: right;
  margin-right: 8em
}
