.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-drawer.mat-drawer-side {
    padding: 0 5px;
}

.empty-conversation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.conversation-header {
    align-items: center;
    display: flex;
    height: 3em;
    font-size: 2em;
    margin-left: 2em;
    margin-top: 0.5em
}

.text-center {
    text-align: center;
    width: 100%;
}

.conversation-history.mat-list {
    height: calc(100% - 180px);
    // overflow-x: scroll;
    position: absolute;
    width: 100%;
}

.conversation-history.mat-list p {
    margin: 0;
}

.empty-conversation h1 {
    margin: 0;
}

.conversations .mat-list-item {
    cursor: pointer;
}

.mat-card {
    position: relative;
    object-fit: contain;
    padding: 1em 4em;
    overflow: scroll;
    width: 100%;
    font-size: 1.5em
}
.conversation-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
}

section .mat-list .mat-list-avatar{
    width: 25px;
    height: 25px;
}

.mat-list-avatar {
    margin: 0 5px;
}

.right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.full-width .mat-icon {
    cursor: pointer;
    transform: scale(2);
}

.post-input {
  margin: 0em 3em;
  width: 90%;
}

.posts {
  flex-direction: column;

}

.col-1 {
  margin-top: 20em;
  width: 90%;
}

.post {
  margin-bottom: 2em;
  float: left;
  flex-direction: column;
  overflow-y: hidden;
}

.inside-post {
  float:left;
  margin-right: 1em
}

.box {
    height: 10px;
}

.mat-list-item {
    height: 100px;
}

.feed-card {
    width: 75%;
    margin: 50px;
}
.mat-sidenav {
  width: 25%
}

ul {
  font-size: 1.5em;
  list-style-type: none;
  text-decoration: underline;
}

li {
  padding: 0.5em
}


.add-post {
  float: right;
  margin-left: 45em;
  background-color: #17394f;
  color: white
}

div {
  margin-bottom: 0.5em
h3 {
  font-weight: bold;
  font-size: 1em
}

.blue-button {
  background-color: #17394f;
  color: white;
  margin: 4em;
  float: right;
  font-size: 1em !important;
  white-space: pre-wrap;
}

.shift-right {
  margin-left: 10em;
} }
