<mat-card></mat-card>
<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
      <mat-card>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon matListIcon>forum</mat-icon>
            </ng-template>
            <mat-list class="conversations">
              <mat-list-item >
                <h2>Exercise Groups</h2>
                <button mat-flat-button class="blue-button">Add Group</button>
              </mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <ul>
        <li>Marathoners</li>
        <li>Covid-Blasters</li>
        <li>Happy Yogis</li>
      </ul>
    </mat-sidenav>
    <mat-sidenav position="end" mode="side" opened>
      <mat-card>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon matListIcon>list</mat-icon>
            </ng-template>
            <mat-list class="members">
              <mat-list-item >
                <h2>Plans</h2>
                <button mat-flat-button class="blue-button shift-right">Add Plan</button>
              </mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <ul>
        <li>Running man plan</li>
        <li>Daily stairs climbing</li>
        <li>Serene stretches</li>
      </ul>
    </mat-sidenav>

    <section class="empty-conversation" *ngIf="selectedConversation">
      <h1 class="mat-display-1">middle pannel</h1>
    </section>
    <section *ngIf="!selectedConversation">
      <div class="mat-typography conversation-header">
           Fitness Feed
           <button (click)= "onAddPostClick()" mat-button class="add-post">Add Post </button>


      </div>

      <mat-divider></mat-divider>
      <mat-list dense class="conversation-history mat-typography">

        <mat-card *ngIf= "fakepost" class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Varun Chennamadhava</h3>
          <div>I went for a run</div>
          <mat-chip>Cardio</mat-chip>
        </mat-card>

        <mat-card class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Steven Chen</h3>
          <div> I got a question regarding my push-up form</div>
          <div> Can you guys take a look at it and let me know if </div>
          <div> I am doing it correctly.</div>
          <video width="320" height="240" controls>
            <source src= "../../assets/img/video_sample.MOV">
          </video>
          <div >
          <mat-chip>Body Weight Excercises</mat-chip>
          <mat-chip>Chest</mat-chip>
        </div>
        <div class="comment-input">
        <mat-form-field appearance="legacy">
          <mat-label>comments</mat-label>
          <input matInput placeholder="Placeholder" >
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
        </mat-card>
        <mat-card class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Bob Lopez</h3>
          <div>Got a Fire Workout in Today</div>
          <div>Bench Press 5 Sets of 150lbs, Rep Count for each set --> 10 | 12 | 9 | 6 | 3</div>
          <div>Incline Dumbell Press 3 sets 30lb each hand,Rep Count --> 12 | 12 | 10 </div>
          <div>Standing Shoulder Press 20 lbs each hand 5 sets, Rep Count was 10 each set</div>
          <div>Lateral Shoulder Raises 3 sets of 8lbs on each hand. 14 reps each set.</div>
          <div>3 sets of regular body weight push ups. 25 | 15 | 15</div>
          <div>
          <mat-chip>Chest</mat-chip> <mat-chip>Shoulder</mat-chip>
        </div>
          <div class="comment-input">
            <mat-form-field appearance="legacy">
              <mat-label>comments</mat-label>
              <input matInput placeholder="Placeholder" >
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
          </div>
        </mat-card>
        <mat-card class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Courtney Bryant</h3>
          <div>Just finshed a 10 mile run for the "Marathoner's group"</div>
          <div>Got my energy bars from the local market.</div>
          <div>
          <mat-chip>Cardio</mat-chip>
        </div>
        <mat-form-field appearance="legacy">
          <mat-label>comments</mat-label>
          <input matInput placeholder="Placeholder" >
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        </mat-card>



        <!-- <mat-card class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Courtney Bryant</h3>
          Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"
        </mat-card>
        <mat-card class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Courtney Bryant</h3>
          Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"
        </mat-card>
        <mat-card class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Courtney Bryant</h3>
          Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"
        </mat-card> -->
        <mat-card class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Courtney Bryant</h3>
          <div>
          Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"
        </div>
          <mat-form-field appearance="legacy">
            <mat-label>comments</mat-label>
            <input matInput placeholder="Placeholder" >
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </mat-card>
        <mat-card class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Courtney Bryant</h3>
          <div>
          Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"
        </div>
          <mat-form-field appearance="legacy">
            <mat-label>comments</mat-label>
            <input matInput placeholder="Placeholder" >
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </mat-card>
        <mat-card class="feed-card">
          <mat-icon class="inside-post">account_circle</mat-icon>
          <h3> Courtney Bryant</h3>
          <div>
          Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"Just finshed a 1 mile run for the "Marathoner's group"
          Just finshed a 1 mile run for the "Marathoner's group"
        </div>
          <mat-form-field appearance="legacy">
            <mat-label>comments</mat-label>
            <input matInput placeholder="Placeholder" >
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </mat-card>

    </mat-list>

    <div class="conversation-input">
      <!-- <mat-divider></mat-divider> -->
      <mat-form-field class="full-width post-input" *ngIf="selectedConversation">
        <input matInput placeholder="Share a recent workout" name="text" [(ngModel)]="text">
        <mat-icon matSuffix>send</mat-icon>
      </mat-form-field>
    </div>
  </section>
</mat-sidenav-container>
