<h1>Share details about your workout</h1>



<mat-form-field class="example-full-width" rows="20">
  <mat-label></mat-label>
  <textarea matInput placeholder="Ex. Morning stretching routine me feel..."></textarea>
</mat-form-field>


<button mat-mini-fab class="inside-post"><mat-icon >add_a_photo</mat-icon></button>
<button mat-mini-fab class="inside-post"><mat-icon >add_photo_alternate</mat-icon></button>
<button mat-mini-fab class="inside-post"><mat-icon >video_call</mat-icon></button>
<button mat-raised-button class="add-button inside-post">Post</button>
