<div class="content">
    <div class="flex-container">
      <img src="/assets/img/exer.png" alt="image">
      <div class='right-content'>
        <h1>Welcome to Fitness w/ Friends @ IBM</h1>
        <div class="subtext">
          <h3>Exercise and Socialize Safely during Quarantine Times</h3>
            <div class="buttons">
              <div *ngIf ="!truthVariable">
              <button mat-raised-button (click)="this.changeVariable()" class="blue-button">LOGIN</button>
              <button mat-raised-button (click)="this.changeExtraVariable()" color="basic" >REGISTER</button>
            </div>
            <div *ngIf ="truthVariable">
              <div *ngIf = "extraVariable">
                <form name="loginForm" [formGroup]= "loginForm" class="login-form">
                  <mat-form-field appearance="outline" class="field">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email">
                      <mat-icon matSuffix>person_outline</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="field">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">lock</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                  </mat-form-field>
                </form>
                <button mat-raised-button class="blue-button login-button" (click) = "loginSubmitForm()" aria-label="LOG IN">
                    LOG IN
                </button>
              </div>

              <div *ngIf= "!extraVariable">
                <form name="registerForm" [formGroup]= "registerForm" class="login-form">
                  <mat-form-field appearance="outline" class="field">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstNameOne">
                    <mat-icon matSuffix>person_outline</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="field">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastNameOne">
                    <mat-icon matSuffix>person_outline</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="field">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="emailOne">
                      <mat-icon matSuffix>person_outline</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="field">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="passwordOne">
                    <mat-icon matSuffix class="secondary-text">lock</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                  </mat-form-field>
                </form>
                <button (click)="newRegistrationClick()" mat-button> Submit</button>
              </div>








              <button mat-button (click)="goBack()"> Back </button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
