<div class="content">
    <div class="flex-container">
      <img src="/assets/img/exer.png" alt="image">
      <div class='right-content'>
        <h1>Welcome to Fitness w/ Friends @ IBM</h1>
        <div class="subtext">
          <h3>Exercise and Socialize Safely during Quarantine Times</h3>
            <!-- <div class="buttons">
              <button mat-raised-button class="blue-button">Login</button>
              <button mat-raised-button color="basic" >Register</button>
            </div> -->
            <div class="buttons">
                  <input matInput>
            </div>
        </div>
      </div>
  </div>

</div>
