@import url("https://fonts.googleapis.com/css?family=Montserrat");

.content {
  font-family: 'Montserrat';
}

body {
  margin: 3em;
}
h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  font-weight: bold;
}

.container {
  margin: 2em
}
