<div class="container">
  <h1>
    Find a Group
  </h1>

  <h3>
    Create a Group
  </h3>
  <form name="loginForm" [formGroup]="createGroupForm" class="create-group">
    <table>
      <thead>
        <tr>
          <th>Group name</th>
          <th>Members</th>
          <th>Exercise Plan</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="field">
              <mat-label>Enter your group's name</mat-label>
              <input matInput formControlName="groupName">

            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Add friends</mat-label>
              <mat-select>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Add Exercise Plan</mat-label>
              <mat-select>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
              </mat-select>
              <mat-hint>Optional</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <button (click) ="changeRoute()" mat-fab class="fab" aria-label="CREATE">
                CREATE GROUP
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </form>
  <h3>
    Or Join an Existing Group
  </h3>

  <tr>
    <td class="search">
      <form>
        <mat-form-field>
            <input type="text" placeholder="Search Groups" matInput>
        </mat-form-field>
    </form>
    </td>

    <td>
      <mat-card class="group-card">
        <h3> <mat-icon class="inside-post">directions_run </mat-icon> Marathoners</h3>
        <div class="plans"> <mat-icon class="inside-post">list </mat-icon>  Plans: </div>
        <ul>
          <li>
            Running man plan
          </li>
        </ul>
      </mat-card>
    </td>
    <td>
      <mat-card class="group-card">
        <h3> <mat-icon class="inside-post">accessibility_new </mat-icon> Happy Yogis</h3>
        <div class="plans"> <mat-icon class="inside-post">list </mat-icon>  Plans: </div>
        <ul>
          <li>
            Serene stretches
          </li>
        </ul>
      </mat-card>
    </td>
    <td>
      <mat-card class="group-card">
        <h3> <mat-icon class="inside-post">stairs </mat-icon> Covid-Blasters</h3>
        <div class="plans"> <mat-icon class="inside-post">list </mat-icon>  Plans: </div>
        <ul>
          <li>
            Daily stairs climbing
          </li>
        </ul>
      </mat-card>
    </td>


  <!-- https://mdbootstrap.com/docs/angular/forms/search/ -->
</div>
